// dummy
.dummy-avator {
  background-image: url('https://pd2.arkjp.net/misskey/drive/28f591dc-768d-4688-af42-bf626d72adac.png');
  background-size: cover;
}


.component {
  margin: 20px;
}

.note {
  max-width: 480px;
  margin-bottom: 1.2em;
}

.mat-card-avatar {
  background-size: cover;
}
